# Refresh GitHub language detection
*.bat linguist-detectable=true
*.cmd linguist-detectable=true
*.py linguist-detectable=true
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.tex linguist-detectable=false
*.sty linguist-detectable=false
*.md linguist-detectable=false
